.main-header{
    height: 60px;
    background: #ffffff;
    padding: 4px 80px 2px 80px;
    border-bottom: 1px solid #000000;
  }
  .main-header .buttons{
    float:right;
    display:flex;
    margin-right: 50px ;
  }
.main-header a{
  text-decoration: none;
}
.icon {
  float: left;
}
.main-header .icon img{
    width: 80px;
    height: 58px;
  }
 .buttons{
  margin-top: 12px;
 }

  .main-header .buttons button{
    text-align: center;
    padding-right:30px ;
    height: 35px;
    background: none;
    color: #000000;
    border: none;
    font-size: 17px;
    font-weight: bold!important;
  }
.main-header a,button:hover{
    cursor: pointer;
    color: #006b2b;
  }
 .main-header a,button:active{
    color: #006b2b;
  }
 .main-header a:hover,a:active{
    text-decoration: underline;
  }
h1{
    float: left;
    margin: 0 10%;
}
h1:hover{
    background: #e5faec;
}
.mobile{
  display: none;
}
@media (max-width:1000px){
  .main-header .icon img{
    margin-left:-50px ;
  }
  .MuiSvgIcon-root {
    font-size: 2rem!important;
  }
  .mobile{
      cursor: pointer;
      display: block;
  }   
  .main-header .buttons button{
      display: none;
  }
  .main-header .buttons{
    margin-right: -50px;
  }
}
.item{
  color: black;
  cursor: pointer;
}
.actual-page{
  color: #00a035;
}
.main-header div .MuiSvgIcon-root{
  fill: #017931!important;
}