.content{
    width: 100%;
    background-image: url("../../img/background.png");
    background-color: #cccccc;
    height: 826px;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */    
}
.row{
    text-align: center;
    position: absolute;
    top: 390px;
    width: 100%;
    display: inline;
}
.content h2{
    text-shadow: 1px 0 0 #000000, -1px 0 0 #000000, 0 1px 0 #000000, 0 -1px 0 #000000, 1px 1px #000000, -1px -1px 0 #000000, 1px -1px 0 #000000, -1px 1px 0 #000000;
    text-align: left;
    font-size: 60px;
    float: left;
    font-weight: bold;
    color:var(--main-color) ;
    margin-left: 5%;
}
.content button{
    margin-right: 5%;
    float: right;
    border-radius: 30px;
    border: none;
    padding: 20px;
    font-size: 22px;
    color: white;
    background: var(--main-color);
    margin-top: 110px;

}
@media (max-width:1000px){
    .content{
        position: relative;
        display: flex;
        justify-content: center;
    }
    .row{
        display: inline-block;
        top: 50px;
        width: 500px;
    }
    .content h2{
        text-align: center;
        margin-left: 0;
        float: none;
    }
    .content button{
        margin-top: 435px;
        float: none;
       margin-right: 0;
    }
}