.search{
    width: 34%;
    margin: 10px auto;
    text-align: center;
}
.search input{
    height: 50px;
    width: 270px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 40px;
    font-size: 17px;
    background-color: white;
    background-image:url('../../img/search-24px.svg');
    background-position: 12px 12px; 
    background-repeat: no-repeat;
    padding: 8px 20px 9px 40px;
    -webkit-transition: width 0.5s ease-in-out;
    transition: width 0.5s ease-in-out;
}
.search input:focus{
    width: 100%;
}

.filter{
    display: none;
    width: 90%;
    height: 60px;
    background: rgb(0, 0, 0);
    border-radius: 2px;
    margin-left: 5% ;
}
.search .dropdown{
    border-radius: 2px;
    background: white;
    width: 90%;
    margin-left: 5% ;
}
.search .dropdown div:active{
    background: rgb(24, 105, 36);
}
.search .dropdown div:hover{
    background: #02aa45;
}
@media (min-width: 400px) and (max-width:800px){
    .search{
        width: 270px;
    }
}
@media (max-width:400px){
    .search{
        width: 250px;
        margin: 17px 50px;
    }
    .search input{
        width: 250px;
        height: 40px;
        font-size: 15px;
        background-position: 10px 8px;
    }
}