#input-imagem {
    margin-top: 3%;
    border-bottom: none; 
}   
select{
    text-align: center;
    margin: 4% 36%;
    padding: .375rem .75rem;
    font-size: 15px;
    border: 1px solid #1c6134; 
}
.labelimg{
    margin: 0 40%;
}
.box-error{
    text-align: center;
    display: inline-flex;
    line-height: 20px;
    width: 200px;
    margin: 10px 10%;
    padding: 0 20px;
    background: #fd6767;
    border-radius: 2px ;
    color: black;
}
.error-msg{
    padding-right: 10px;
}
